label {
    display: block;
    
    input, textarea {
        display: inline-block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

}
ul{
    li{
        list-style: none;
    }
}
.text-center{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }